<!-- Page Content -->

<div ui-view="nav"></div>

<div id="page-content-wrapper" class="quad-wrapper">
    <div class="container-fluid">
        <div class="row equal">
            <div class="col-xs-6 col-sm-3 quadrant">
		        <div ui-view="one" class="quad-view"></div>
		    </div>

		    <div class="col-xs-6 col-sm-3 quadrant">
		    	<div ui-view="two" class="quad-view"></div>
		    </div>
	    </div>
	    <div class="row equal">
		    <div class="col-xs-6 col-sm-3 quadrant">
		    	<div ui-view="three" class="quad-view"></div>
		    </div>

		    <div class="col-xs-6 col-sm-3 quadrant">
		    	<div ui-view="four" class="quad-view"></div>
		    </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->