<h1>What is DogSmart</h1>

<p>DogSmart is a small start up bussiness located in down town Montreal. We provided our customers with various  doggie services, such as: Doggie salon, training, day camp, and hospital.</p>
<p>Please first fill out the form online to book an appointment with us! </p>

<p>We have also cooperate with the Montreal Dog Associaton to share some latest doogie information with detailed data table and graphs.</p>

<p>With further questions please email us to info@dogsmart.ca or contact us at: 514-123-1234</p>
<p>Address: DogSmart #501, 1255 Boulevard Robert-Bourassa, Montreal, Quebec H3B 3V8 </p>
