<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />

	<title>Footer With Address And Phones</title>

	<link rel="stylesheet" href="css/demo.css">
	<link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css">
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

</head>

	

		<!-- The content of your page would go here. -->

		<footer class="footer-distributed">

			<div class="footer-left">

				<h3>DogSmart<span><img src="img/ds.svg" alt=""></span></h3>

				<p class="footer-links">
					<a ui-sref="dashboard.basic.home" ui-sref-active="active">Home</a>
					.
                   	<a ui-sref="dashboard.full.service" ui-sref-active="active">Service</a>
                    .
                    <a ui-sref="dashboard.three.table" ui-sref-active="active">Data Table</a>
                   	.
                    <a ui-sref="dashboard.full.gallery" ui-sref-active="active">Gallery</a>
                    
				</p>

				<p class="footer-company-name">DogSmart &copy; 2016</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>DogSmart #501, 1255 Boulevard Robert-Bourassa</span>Montreal, Quebec H3B 3V8 </p>
				</div>

				<div class="phone">
					<i class="fa fa-phone"></i>
					<p> 514-123-1234</p>
				</div>

				<div class="email">
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">info@dogsmart.ca</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<!-- <div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div> -->

			</div>

		</footer>

	</body>

</html>
